*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.masthead {
  height: 100vh;
  min-height: 40rem;
  padding-top: 72px;
  padding-bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e90ff), to(#1e90ff));
  background: linear-gradient(to bottom, #1e90ff 0%, #1e90ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead .happy {
  width: 482px;
  margin: 92px 0 0 64px;
}

.masthead .c_wrapper {
  margin: 96px 0 0 0;
}

.masthead .c_wrapper h1 {
  font-size: 2.5rem;
  color: #ffffff;
  padding: 18px 0;
}

.masthead .c_wrapper .m_par {
  color: #ffffff;
  font-size: 24px;
}

.masthead .c_wrapper .m_d {
  background-color: #fff;
  border-radius: 31px;
  display: block;
  width: 179px;
  padding: 23px;
  font-size: 20px;
  font-weight: 700;
  margin: 54px 0 0 0;
  color: #1e90ff;
}

.s_logo {
  position: absolute;
  top: 0;
  padding: 18px 0 0 23px;
}

.s_logo .h_th {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 4px;
}

.s_logo .h_a:hover {
  text-decoration: none;
}

.h_logo {
  width: 110%;
  position: absolute;
  left: -113px;
  top: -96px;
  z-index: -1;
}

.h_call {
  text-align: center;
  position: absolute;
  right: 153px;
  top: 16px;
}

.h_call .h_wrapper {
  border: 2px solid #fff;
  height: 79px;
  position: relative;
  width: 344px;
}

.h_call .h_24 {
  background-color: #ffffff;
  border-radius: 12px;
  /* color: #00df73; */
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  height: 25px;
  position: absolute;
  right: -15px;
  top: 24px;
}

.h_call .h_customer {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.h_call .h_um {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 800;
  margin-top: 3px;
  padding-left: 10px;
}

.block-2 {
  background: url("../img/usingComputer.jpg") no-repeat fixed;
  background-size: cover;
  height: 825px;
  background-position: center;
}

#section {
  margin-top: 136px;
  margin-left: 154px;
}

#section .m_header {
  height: 650px;
  position: relative;
}

#section .m_header .m_h1 {
  color: #ffffff;
  margin: 25px 0 0 10px;
  text-align: left;
  width: 540px;
}

#section .m_header .m_par {
  color: #ffffff;
  font-size: 24px;
  margin: 40px 0 42px 10px;
  text-align: left;
  width: 480px;
}

#section .m_header .m_d {
  background-color: #fff;
  border-radius: 31px;
  -webkit-box-shadow: 0 7px 19px #17f0d5;
          box-shadow: 0 7px 19px #17f0d5;
  display: block;
  width: 179px;
  padding: 23px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 46px;
  color: #17f0d5;
}

#section .hero_left {
  position: absolute;
  top: 142px;
  /* right: -5px; */
  /* z-index: -5; */
  /* left: 616px; */
  display: block;
  margin-left: 533px;
}

#section .hero_left .happy {
  width: 70%;
}

#section .her_text {
  color: #3e2166;
  text-align: center;
  width: 390px;
  position: relative;
  right: -60px;
  bottom: -16px;
  font-size: 21px;
  font-weight: 400;
}

#windowInstruction {
  position: absolute;
  z-index: 5;
  top: 313px;
  left: 69px;
  display: none;
}

#windowInstruction .arrow {
  width: 72px;
  height: 256px;
  -webkit-animation: arrow 1s infinite alternate;
          animation: arrow 1s infinite alternate;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.d_info {
  position: absolute;
  background: #fff;
  width: 349%;
  height: 117px;
  text-align: center;
  top: 119px;
  left: 111px;
  border-radius: 6px;
  padding: 0 11px;
}

.d_info .d_heading {
  background: #17f0d5;
  padding: 10px 31px;
  border-radius: 17px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  position: relative;
  top: -11px;
}

.d_info .d_decption {
  position: relative;
  top: 15px;
}

#bodyBlock {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 584%;
  display: none;
}

.f_main {
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 84%, 0 100%);
          clip-path: polygon(0 5%, 100% 0, 100% 84%, 0 100%);
  position: relative;
  margin-top: -33px;
}

.f_main .fucos {
  background: #1e90ff;
  width: 100%;
  height: 705px;
  position: absolute;
  opacity: .7;
}

.f_main .f_black {
  padding: 41px 0 0 0;
  background: #000;
  height: 705px;
}

.f_main .f_black .img_bg {
  width: 434px;
  position: relative;
  top: 212px;
  left: 88px;
}

.f_main .f_black .list-unstyled {
  color: #fff;
  padding-top: 39px;
}

.f_main .f_black .list-unstyled .fa-check {
  font-size: 22px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 5px;
}

.f_main .f_black .list-unstyled .f_tittle {
  font-size: 22px;
  font-weight: 700;
}

.f_main .f_black .list-unstyled .f_info {
  font-size: 16px;
  font-weight: 500;
  margin-left: 53px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 48px;
}

.comp_clean {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.comp_clean .divider {
  background: #1e90ff;
  height: 4px;
  border-radius: 2px;
  width: 8%;
}

.comp_clean .scan {
  width: 90px;
}

.comp_clean .comp_desc {
  padding: 0 50px 0 50px;
}

.final_scan {
  height: 550px;
}

.final_scan .f_wrapper {
  text-align: center;
  margin: 0 auto;
  padding-top: 8%;
}

.final_scan .f_wrapper .f_disc {
  font-size: 45px;
}

.final_scan .f_wrapper .divider {
  background: #1e90ff;
  height: 4px;
  border-radius: 2px;
  width: 8%;
}

.final_scan .f_wrapper .f_d {
  background-color: #fff;
  border-radius: 31px;
  -webkit-box-shadow: 0 1px 11px #1e90ff;
          box-shadow: 0 1px 11px #1e90ff;
  width: 192px;
  padding: 20px;
  font-size: 17px;
  font-weight: 700;
  color: #1e90ff;
  position: relative;
  top: 30px;
}

.final_scan .f_wrapper .f_d:hover {
  text-decoration: none;
}

.final_scan .f_wrapper .r_rn {
  padding-top: 91px;
}

footer {
  background: #1e90ff;
  height: 254px;
}

footer .f_logoWrapper {
  text-align: center;
}

footer .f_th {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 4px;
}

footer .fo_wrapper {
  padding: 71px 0 0 51px;
}

footer .list-unstyled {
  text-align: center;
}

footer .list-unstyled a {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

footer .f_infos {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  text-align: center;
}
/*# sourceMappingURL=app.css.map */