*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}
.h_header {
    background: transparent url(../img/hero-bg2a-1883x825.png) 0 0 no-repeat;
    // display: none;
    height: 825px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-1650px, 0);
    width: 1883px;
    z-index: -100;

    .logo {
        height: 150px;
        margin: 0 auto;
        position: relative;
        width: 960px;
        .h_a {
            color: #ffffff;
            display: block;
            font-size: 20px;
            font-weight: 800;
            height: 65px;
            left: 10px;
            padding-top: 10px;
            position: absolute;
            width: 200px;
    
            .h_logo {
                position: absolute;
                width: 90px;
                left: 646px;
                top: 14px;
            }
        }
        
    }

    .h_call {
        text-align: center;
        position: absolute;
        right: -375px;
        top: 32px;

        .h_wrapper {
            // border-radius: 50px;
            border: 2px solid #00df73;
            height: 79px;
            position: relative;
            width: 242px;
        }
        .h_24 {
            background-color: #ffffff; 
            border-radius: 12px;
            /* color: #00df73; */
            font-size: 16px;
            font-style: italic;
            font-weight: 700;
            height: 25px;
            position: absolute;
            right: -15px;
            top: 24px;
        }
        .h_customer {
            color: #646464;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.5;
        }
        .h_um {
            color: #00df73;
            display: block;
            font-size: 20px;
            font-weight: 800;
            margin-top: -5px;
            padding-left: 10px;
        }
        .h_m {
            color: #bbbbbb;
            font-size: 11px;
            font-weight: 700;
            line-height: 1.2;
            padding-left: 10px;
        }
    }
    
}

#main {
    margin-top: 254px;
    margin-left: 89px;
    
    .m_header {
        height: 650px;
        position: relative;

        .m_h1 {
            color: #ffffff;
            margin: 25px 0 0 10px;
            text-align: left;
            width: 540px;
            
        }
        .m_par {
            color: #ffffff;
            font-size: 24px;
            margin: 40px 0 0 10px;
            text-align: left;
            width: 480px;
        }
        .m_d {
            background-color: #00df73;
            border-radius: 31px;
            box-shadow: 0 7px 19px rgba(0, 171, 88, 0.57);
            display: block;
            height: 61px;
            position: relative;
            width: 300px;
        }
    }
    .hero_left {
        position: absolute;
        top: 225px;
        right: -270px;
        z-index: -1;
        
        
    }
    .heroPeople {
        height: 504px;
        width: 731px;
        padding: 50px;
      
    }
    .her_text {
        color: #3e2166;
        margin: -114px 0 0 49px;
        text-align: center;
        width: 390px;
    }

    .testeminials {
        padding-top: 150px;

        .divider {
            background: red;
            height: 4px;
            border-radius: 2px;
            width: 8%;
        }

        .rounded-circle {
            border-radius: 50%!important;
            width: 90px;
            height: 83px;
        }
        .card-body {
            
            flex: 1 1 auto;
            padding: 1.25rem;
            height: 300px;
            border-bottom: 3px solid forestgreen;
        }
       
        .img_frist {
            margin: 0 auto;
            display: block;
            position: relative;
             top: 17px;
        }
        .img_second {
            margin: 0 auto;
            display: block;
            position: relative;
             top: -5px;
        }
        .img_third {
            margin: 0 auto;
            display: block;
            position: relative;
             top: 40px;
        }
    }

    .fucos {
        // padding-top: 10rem;
        // padding-bottom: calc(10rem - 72px);
        // background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-attachment: scroll;
        // background-size: cover;

       
      
    }
    .fucos_wrapper {
        // padding-top: 10rem;
        // padding-bottom: calc(10rem - 72px);
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
        
    }

    
}
