*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.s_logo {
    position: absolute;
    top: 0;
    padding: 18px 0 0 23px;

    .h_th {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        top: 4px;
    }
    .h_a:hover {
        text-decoration: none;
    }
}

.h_logo {
    width: 108%;
    position: absolute;
    left: -113px;
    top: -96px;
    z-index: -1;

}
.h_call {
    text-align: center;
    position: absolute;
    right: 153px;
    top: 16px;
    
    .h_wrapper {
        // border-radius: 50px;
        border: 2px solid #fff;
        height: 79px;
        position: relative;
        width: 344px;
    }
    .h_24 {
        background-color: #ffffff; 
        border-radius: 12px;
        /* color: #00df73; */
        font-size: 16px;
        font-style: italic;
        font-weight: 700;
        height: 25px;
        position: absolute;
        right: -15px;
        top: 24px;
    }
    .h_customer {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
    }
    .h_um {
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: 800;
        margin-top: 3px;
        padding-left: 10px;
    }
    // .h_m {
    //     color: #fff;
    //     font-size: 11px;
    //     font-weight: 700;
    //     line-height: 1.2;
    //     padding-left: 10px;
    // }
}
#section {
    margin-top: 177px;
    margin-left: 172px;

    .m_header {
        height: 650px;
        position: relative;

        .m_h1 {
            color: #ffffff;
            margin: 25px 0 0 10px;
            text-align: left;
            width: 540px;
            
        }
        .m_par {
            color: #ffffff;
            font-size: 24px;
            margin: 40px 0 42px 10px;
            text-align: left;
            width: 480px;
        }
        .m_d {
            background-color: #fff;
            border-radius: 31px;
            box-shadow: 0 7px 19px #17f0d5;
            display: block;
            width: 179px;
            padding: 23px;
            font-size: 20px;
            font-weight: 700;
            margin-left: 46px;
            color: #17f0d5;
        }
    }
    .hero_left {
        position: absolute;
        top: 142px;
        /* right: -5px; */
        /* z-index: -5; */
        /* left: 616px; */
        display: block;
        margin-left: 533px;

        .happy {
            width: 70%;
        }
    }
    .her_text {
        color: #3e2166;
        text-align: center;
        width: 390px;
        position: relative;
        right: -60px;
        bottom: -16px;
        font-size: 21px;
        font-weight: 400;
    }
}

.fucos {
    padding-top: 80px;
    background: linear-gradient(#17f0d5);
    clip-path: polygon(0 5%, 100% 0, 100% 84%, 0 100%);
    width: 100%;
    height: 705px;

    .img_bg {
        width: 434px;
        position: relative;
        top: 173px;
        left: 88px;
        opacity: .8;
    }  
    
    .list-unstyled {
        color: #fff;

        .fa-check {
            font-size: 22px;
            border-radius: 50%;
            border: 1px solid #fff;
            padding: 5px;
        }
        .f_tittle {
            font-size: 22px;
            font-weight: 700;
        }
        // .t_w {
        //     padding-left: 56px;
        // }
        .f_info {
            font-size: 16px;
            font-weight: 500;
            margin-left: 53px;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-right: 48px;
        }
    }
    
}
.comp_clean {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;

    .divider {
        background: #17f0d5;
        height: 4px;
        border-radius: 2px;
        width: 8%;
    }

    .scan {
        width: 90px;
    }
    .comp_desc {
        padding: 0 50px 0 50px;
    }
}

.final_scan {
    // background-image: url(../img/final.jpg);
    height: 550px;

    .f_wrapper {
        text-align: center;
        margin: 0 auto;
        padding-top: 8%;

        .f_disc {
            font-size: 45px;
        }

       .divider {
            background: #17f0d5;
            height: 4px;
            border-radius: 2px;
            width: 8%;
       }

       .f_d {
            background-color: #fff;
            border-radius: 31px;
            box-shadow: 0 1px 11px #17f0d5;
            // display: block;
            width: 192px;
            padding: 20px;
            font-size: 17px;
            font-weight: 700;
            color: #17f0d5;
            position: relative;
            top: 30px;
            
            &:hover {
                text-decoration: none;
            }
       }

       .r_rn {
        padding-top: 91px;
        }
    }
}

footer {
    background: #17f0d5;
    height: 254px;

    .f_logoWrapper {
        text-align: center;
    }

    .f_th {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        top: 4px;
    }

    .fo_wrapper {
        padding: 71px 0 0 51px; 
    }

    .list-unstyled {
        text-align: center;
        a {
            color: #fff;
            font-size: 17px;
            font-weight: 400;
        }
    }
    .f_infos {
        color: #fff;
        font-size: 19px;
        font-weight: 500;
        text-align: center;
    }
}